<!doctype html>
<html>
  <head>
    <title>NGINX S&PS</title>
  </head>
  <body>
        <h1 style="text-align: center;"><strong><span style="color: #ff0000;">S&amp;P</span> Solutions</strong></h1>  
        {# Usamos uno de los 'facts' recopilados por Ansible para mostrar la fecha del host #}
        <h1 style="text-align: center;"><strong>{{ ansible_date_time.date }}</strong></h1>  
        <!--<img src="https://img.devrant.com/devrant/rant/r_565529_WRQcK.jpg" alt="Doge HTML" align="middle"> -->        
  </body>
</html>
