<!doctype html>
<html>
  <head>
    <title>NGINX S SanPy</title>
  </head>
  <body>
        <h1 style="text-align: center;"><strong> Soluciones <span style="color: #ff0000;">SanPY</span> </strong></h1>  
        <!-- <h1 style="text-align: center;"><p><strong><span style="color: #ff6600;">P</span><span style="color: #808080;">S</span><span style="color: #ff6600;">P</span></strong></p></h1>  -->
        {# Usamos uno de los 'facts' recopilados por Ansible para mostrar la fecha del host #}
        <h1 style="text-align: center;"><strong>{{ ansible_date_time.date }}</strong></h1>  
        <!--<img src="https://img.devrant.com/devrant/rant/r_565529_WRQcK.jpg" alt="Doge HTML" align="middle"> -->        
  </body>
</html>
